<ng-container *ngTemplateOutlet="customTemplateContainer; context: { $implicit: logger.logInput}">
</ng-container>

<ng-template #defaultTemplate let-templatedLogMethod>
    <h1>I am the default template</h1>
    <ng-container
        *ngTemplateOutlet="customLoggerTemplate ? customLoggerTemplate : defaultLoggerTemplate; context { $implicit: templatedLogMethod }">
    </ng-container>
</ng-template>

<ng-template #defaultLoggerTemplate>
    <button (click)="logger.logInput('From default template')">This is default logger</button>
</ng-template>